.gameIndex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  /*background-color: #2B3443;*/
}

.gameIndex-header{
  font-size: 37px;
  margin: 0 auto;
  width: 22%;
  margin-top: 25px;
}

.gameIndex-container img {
  width: 90%;
  height: 315px;
}

.gameIndex-container a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 22px;
}

.gameIndex-container a:hover {
  color: indianred;
}

.gameIndex-container p {
  max-width: 100%;
  margin-left: 33px;
}
