.gameForm-container input {
  width: 15%;
  height: 25px;
  font-size: 13px;
  margin: 5px;
}

.gameForm-container button {
  width: 4%;
  height: 30px;
  cursor: pointer;
}

.gameForm-container h2 {
  font-size: 25px;
  width: 10%;
  margin: 21px auto;
}
